.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* Subtraindo altura do navbar */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #fdfbfb, #ebedee);
  text-align: center;
  padding: 20px;
}

.home-container h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 15px;
}

.home-container p {
  font-size: 18px;
  color: #555;
}
