.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #66a6ff;
  padding: 15px 30px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 4px 15px rgb(0, 0, 0, 0.1);
}

.navbar h2 {
  margin: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #f0f0f0;
}

.navbar ul li button {
  border: none;
  background: #ff6b6b;
  padding: 8px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.navbar ul li button:hover {
  background: #ff8787;
}
